Repository instancio/instancio, pull requests merged in 2023-12, with the labels that each got.

#831 JUnit extension improvements to error messages
  instancio-junit/src/main/java/org/instancio/junit/internal/ExtensionSupport.java
  instancio-junit/src/main/java/org/instancio/junit/internal/Fail.java
  instancio-junit/src/main/java/org/instancio/junit/internal/ReflectionUtils.java
  instancio-tests/instancio-junit-tests/pom.xml
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioExtensionTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioExtensionWithSettingsAnnotationTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/internal/ReflectionUtilsTest.java
  instancio-tests/pom.xml
Labels: component: junit

#832 Add support for `as(Function)` to the text pattern generator
  instancio-core/src/main/java/org/instancio/generator/specs/TextPatternAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generators/TextGenerators.java
  instancio-core/src/main/java/org/instancio/internal/generator/text/TextPatternGenerator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/text/TextPatternGeneratorTest.java
Labels: type: enhancement, component: core

#837 Fix test failure on Windows due to line endings
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioExtensionTest.java
Labels: type: tests, component: junit

#833 Add support for JUnit's `@Nested` test cases
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/engine/InstancioQuickcheckTestTask.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/InstancioClassBasedTestDescriptor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/InstancioQuickcheckClassTestDescriptor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/InstancioQuickcheckNestedClassTestDescriptor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/ClassSelectorResolver.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/MethodSelectorResolver.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/predicates/IsPotentialTestContainer.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/predicates/IsTestClassWithProperties.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/InstancioNestedQuickcheckTest.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/engine/InstancioQuickcheckTestEngineTest.java
Labels: type: enhancement, component: quickcheck

#852 Clean up tests
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignWithPredicateSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignWithSetterSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeExcludeMethodModifierTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeFieldTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeMethodTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodErrorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodNotFoundTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OverloadedSettersTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OverloadedUnmatchedSettersTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OverriddenSetterTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/field/FieldAssignmentUsingSetterSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/method/MethodAssignmentDynPersonTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/method/MethodAssignmentMixedPojoTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/method/MethodAssignmentNonSetterTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/method/MethodAssignmentUnmatchedSettersTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/AfterGenerateWithDynamicPojoTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/ignore/IgnoreTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/nullable/WithNullableTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/oncomplete/OnCompleteWithMethodSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/seed/DynamicPojoSeedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectWithGenerateTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectorPrecedenceTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectorWithSubclassTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SetMethodSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/settings/IntegerSettingsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/subtype/SubtypeUsingSetterSelectorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/FormatTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/FooBarBazContainerNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/GenericLevelNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/IndirectCircularRefNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ItemContainerStringLongNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/IterableStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListExtendsNumberNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListListStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListOfOuterMidInnerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListWithWildcardNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListWithoutTypeNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerArrayStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerItemOfStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerListStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapWithoutTypesNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/OneItemContainerItemNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/OptionalStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/TwoListsOfItemStringNodeTest.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/InstancioNestedQuickcheckTest.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/InstancioQuickcheckTest.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/engine/InstancioQuickcheckTestEngineTest.java
  instancio-tests/instancio-quickcheck-tests/src/test/java/org/instancio/quickcheck/internal/arbitrary/ArbitrariesResolverTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/asserts/Asserts.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/RunWith.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/util/CollectionUtils.java
Labels: type: tests

#853 Tests: renamed custom assert methods
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorProcessorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ArrayOfStringSuppliersNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/BaseClasSubClassInheritanceNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/BidirectionalOneToOneNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/CyclicListNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/GenericContainerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/GenericItemHolderWithInheritanceNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/GenericLevelNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/GenericPhoneHolderWithInheritanceNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/IndirectCircularRefNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ItemArrayStringIntegerContainerNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ItemContainerStringLongNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListExtendsNumberNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListListStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListOfOuterMidInnerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListWithWildcardNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ListWithoutTypeNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerArrayStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerItemOfStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerListStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapIntegerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MapWithoutTypesNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/MixedPojoNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/NestedMapsNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/OneItemContainerItemNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/OptionalStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/PairAStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/PairContainerIntegerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/PairLongPairIntegerStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/PairStringIntegerNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/TwoListsOfItemStringNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/WithGenericParentNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/asserts/NodeAssert.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/asserts/ScopeAssert.java
Labels: type: tests

#854 Support for Java 21 sequenced collections
  .github/workflows/build.yml
  .github/workflows/deploy-and-verify-snapshots.yml
  .github/workflows/sonar.yml
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolverMaps.java
  instancio-core/src/main/java/org/instancio/internal/generator/Java21GeneratorResolvers.java
  instancio-core/src/main/java21/org/instancio/internal/generator/Java21GeneratorResolvers.java
  instancio-tests/java21-tests/pom.xml
  instancio-tests/java21-tests/src/test/java/org/instancio/test/java21/Java21SupportedCollectionsTest.java
  instancio-tests/java21-tests/src/test/java/org/instancio/test/java21/Java21SupportedMapsTest.java
  instancio-tests/pom.xml
  instancio-tests/report-aggregate/pom.xml
  pom.xml
  website/docs/building.md
Labels: type: enhancement, component: core

#859 Updated test dependencies
  instancio-quickcheck/pom.xml
  instancio-tests/instancio-quickcheck-tests/pom.xml
  instancio-tests/pom.xml
  pom.xml
Labels: type: build

#862 Address remaining items from #739
  instancio-quickcheck/pom.xml
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/api/artbitrary/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/api/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/engine/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/arbitrary/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/config/InstancioQuickcheckConfiguration.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/config/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/DisplayNameUtils.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/InstancioQuickcheckNestedClassTestDescriptor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/descriptor/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/InstancioQuickcheckDiscoverer.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/discovery/predicates/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/engine/InstancioQuickcheckEngineDescriptor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/engine/InstancioQuickcheckTestEngine.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/engine/InstancioQuickcheckTestExecutor.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/engine/InstancioQuickcheckTestTask.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/engine/package-info.java
  instancio-quickcheck/src/main/java/org/instancio/quickcheck/internal/package-info.java
  instancio-quickcheck/src/main/resources/META-INF/services/org.junit.platform.engine.TestEngine
Labels: component: quickcheck

#864 New top-level API for generating the Cartesian product
  instancio-core/src/main/java/org/instancio/CartesianProductApi.java
  instancio-core/src/main/java/org/instancio/Instancio.java
  instancio-core/src/main/java/org/instancio/InstancioApi.java
  instancio-core/src/main/java/org/instancio/InstancioOperations.java
  instancio-core/src/main/java/org/instancio/LenientMode.java
  instancio-core/src/main/java/org/instancio/VerboseMode.java
  instancio-core/src/main/java/org/instancio/generator/specs/EmitGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/ApiValidator.java
  instancio-core/src/main/java/org/instancio/internal/CartesianProductApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/util/CartesianList.java
  instancio-core/src/main/java/org/instancio/internal/util/Sonar.java
  instancio-tests/api-contract-tests/src/test/java/org/instancio/test/contract/CartesianProductApiContractTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductAssignTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductIgnoreTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductModelTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductNullableTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductOnCompleteTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductSeedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductSubtypeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductSupplyGenerateTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductVerboseTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/CartesianListTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#867 Simplified API contract tests and moved to `instancio-core-tests`
  instancio-tests/api-contract-tests/pom.xml
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_CannotChainWithinMethods.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_FieldsPredicateBuilderBuildMethod.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_FieldsPredicateBuilderToScope.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_FieldsPredicateSelectorToScope.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_GroupSelectorDoesNotExposeWithinMethod.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_IncompleteGivenWithOneArg.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_IncompleteGivenWithTwoArgs.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_IncompleteValueOf.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_NestedGroups.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_OfListWithTypeParameters.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_OfMapWithTypeParameters.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_OfSetWithTypeParameters.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_PassingGroupToWithin.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_PassingScopeAsSelector.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_RootSelectorDoesNotSupportAtDepth.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorAtDepthCannotBeCalledMoreThanOnce.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorGroupCannotBeConvertedToScope.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorGroupDoesNotSupportAtDepth.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorGroupHasNoScope.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorWithinSelector.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_TypesPredicateBuilderBuildMethod.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_TypesPredicateBuilderToScope.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_TypesPredicateSelectorToScope.java
  instancio-tests/api-contract-tests/src/test/java/org/instancio/test/contract/CartesianProductApiContractTest.java
  instancio-tests/api-contract-tests/src/test/java/org/instancio/test/contract/SelectorApiContractTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/ApiContractTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/asserts/ClassAssert.java
  instancio-tests/pom.xml
Labels: type: tests

#869 Breaking change: `stream()` semantics when used with stateful generators
  instancio-core/src/main/java/org/instancio/InstancioApi.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitModelTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitStreamTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/sequence/NumericSequenceGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/stream/CreateStreamTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/stream/CreateStreamVerboseTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/stream/StreamSeedTest.java
Labels: component: core
