Repository instancio/instancio, pull requests merged in 2023-06, with the labels that each got.

#624 New setting key `SETTER_EXCLUDE_MODIFIER` (#618)
  instancio-core/src/main/java/org/instancio/assignment/MethodModifier.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerUtil.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodAssigner.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignment/MethodAssignmentExcludeModifierTest.java
  instancio-tests/instancio-core-tests/pom.xml
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/assigners/AssignerUtilTest.java
Labels: type: enhancement, component: core

#641 Increment max depth when creating a collection from a model (#639)
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/maxdepth/MaxDepthWithModelTest.java
Labels: type: bug, component: core

#642 Use classloader of method reference when resolving selector target class (#637)
  instancio-core/src/main/java/org/instancio/internal/selectors/MethodReferenceHelper.java
Labels: type: bug, component: core

#643 Removed deprecated `instancio-processor` module (#563, #589)
  instancio-core/src/main/java/org/instancio/InstancioMetamodel.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContextHelper.java
  instancio-core/src/main/java/org/instancio/internal/selectors/MetamodelSelector.java
  instancio-processor/pom.xml
  instancio-processor/src/main/java/org/instancio/processor/InstancioAnnotationProcessor.java
  instancio-processor/src/main/java/org/instancio/processor/MetamodelClass.java
  instancio-processor/src/main/java/org/instancio/processor/MetamodelSourceGenerator.java
  instancio-processor/src/main/java/org/instancio/processor/package-info.java
  instancio-processor/src/main/java/org/instancio/processor/util/Logger.java
  instancio-processor/src/main/java/org/instancio/processor/util/package-info.java
  instancio-processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  instancio-tests/default-package-tests/pom.xml
  instancio-tests/default-package-tests/src/test/java/DefaultPackageTest.java
  instancio-tests/feature-tests/pom.xml
  instancio-tests/feature-tests/src/test/java/org/external/mode/OtherPojo.java
  instancio-tests/feature-tests/src/test/java/org/external/mode/UnusedSelectorLocationWithMetamodelFromOtherPackageTest.java
  instancio-tests/feature-tests/src/test/java/org/external/mode/UnusedSelectorLocationWithMetamodelTest.java
  instancio-tests/feature-tests/src/test/java/org/external/mode/UnusedSelectorsWithMixedApiMethodsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/GeneratorCompositionTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/array/CustomArrayGeneratorAfterGenerateAndSelectorsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/collection/CustomCollectionGeneratorAfterGenerateAndSelectorsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/map/CustomMapGeneratorAfterGenerateAndSelectorsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/metamodel/FeatureTestsMetamodels.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/metamodel/MetamodelBasedOnClassesTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/mode/StrictModeWithNullableValuesTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/oflist/OfListToModelTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/ofmap/OfMapToModelTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/ofset/OfSetTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectWithGenerateTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectWithIgnoreTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/subtype/SubtypeUsingFieldSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/toscope/ToScopeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/MetamodelSelectorTest.java
  instancio-tests/instancio-processor-tests/pom.xml
  instancio-tests/instancio-processor-tests/src/test/java/org/instancio/processor/ElementMocks.java
  instancio-tests/instancio-processor-tests/src/test/java/org/instancio/processor/MetamodelClassTest.java
  instancio-tests/instancio-processor-tests/src/test/java/org/instancio/processor/MetamodelSourceGeneratorTest.java
  instancio-tests/instancio-processor-tests/src/test/java/org/instancio/processor/util/LoggerTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  instancio-tests/pom.xml
  instancio-tests/report-aggregate/pom.xml
  pom.xml
Labels: component: core

#644 Removed deprecated `value()` attribute from `InstancioSource` annotation
  instancio-junit/src/main/java/org/instancio/junit/InstancioSource.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/internal/InstancioArgumentsProviderTest.java
  website/docs/user-guide.md
Labels: component: junit

#645 Removed deprecated `AsStringGeneratorSpec`
  instancio-core/src/main/java/org/instancio/generator/AsStringGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/BigDecimalAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/BooleanAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/CharacterAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/EnumAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/MonthDayGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/NumberAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/PathAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/TemporalAaGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/URIAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/URLAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generators/TemporalGenerators.java
  instancio-core/src/main/java/org/instancio/internal/generator/time/JavaTimeTemporalGenerator.java
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/SpecInheritanceAndNamingTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/asstring/AsStringGeneratorSpecTest.java
Labels: component: core

#646 Removed deprecated `org.instancio.spi.GeneratorProvider` SPI
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorProviderFacade.java
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolver.java
  instancio-core/src/main/java/org/instancio/spi/GeneratorProvider.java
  instancio-tests/pom.xml
  instancio-tests/report-aggregate/pom.xml
  instancio-tests/spi-old-tests/pom.xml
  instancio-tests/spi-old-tests/src/test/java/org/example/generator/CustomIntegerGenerator.java
  instancio-tests/spi-old-tests/src/test/java/org/example/spi/CustomGeneratorProvider.java
  instancio-tests/spi-old-tests/src/test/java/org/example/spi/CustomTypeResolver.java
  instancio-tests/spi-old-tests/src/test/java/org/instancio/spi/tests/CustomGeneratorProviderTest.java
  instancio-tests/spi-old-tests/src/test/java/org/instancio/spi/tests/CustomTypeResolverTest.java
  instancio-tests/spi-old-tests/src/test/resources/META-INF/services/org.instancio.spi.GeneratorProvider
  instancio-tests/spi-old-tests/src/test/resources/META-INF/services/org.instancio.spi.TypeResolver
Labels: component: core

#647 Removed deprecated `org.instancio.spi.TypeResolver` SPI
  instancio-core/src/main/java/org/instancio/internal/nodes/TypeResolverFacade.java
  instancio-core/src/main/java/org/instancio/spi/TypeResolver.java
Labels: component: core

#648 Updated package name of settings related to `AssignmentType`
  instancio-core/src/main/java/org/instancio/assignment/package-info.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerErrorUtil.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerImpl.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerUtil.java
  instancio-core/src/main/java/org/instancio/internal/assigners/FieldAssigner.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodAssigner.java
  instancio-core/src/main/java/org/instancio/internal/util/SystemProperties.java
  instancio-core/src/main/java/org/instancio/settings/AssignmentType.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-core/src/main/java/org/instancio/settings/MethodModifier.java
  instancio-core/src/main/java/org/instancio/settings/OnSetFieldError.java
  instancio-core/src/main/java/org/instancio/settings/OnSetMethodError.java
  instancio-core/src/main/java/org/instancio/settings/OnSetMethodNotFound.java
  instancio-core/src/main/java/org/instancio/settings/SetterStyle.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeExcludeMethodModifierTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeFieldTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/AssignmentTypeMethodTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodErrorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodNotFoundTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OverloadedSetterTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/ZeroArgSetterTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/MethodAssignerOnSetMethodErrorFailTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/MethodAssignerOnSetMethodNotFoundTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/assignment/AssignmentTypeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/assigners/AssignerUtilTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/assigners/FieldAssignerTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/RecordAssignmentTypeTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/assign/AssignPojoAndRecordTest.java
  instancio-tests/kotlin-tests/src/test/kotlin/org/instancio/test/kotlin/KAssignmentTypeTest.kt
Labels: component: core

#649 Moved `Mode` enum from `org.instancio` moved to `org.instancio.settings`
  instancio-core/src/main/java/org/instancio/internal/GeneratedNullValueListener.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/settings/SettingsSupport.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-core/src/main/java/org/instancio/settings/Mode.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/ignore/IgnoreAndSetTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/mode/LenientModeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/RootSelectorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/ModelContextTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/settings/SettingsSupportTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/settings/SettingsTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/RecordAssignmentTypeTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/assign/AssignPojoAndRecordTest.java
  website/mkdocs.yml
Labels: component: core

#650 Refactoring, clean up, performance tweaks
  instancio-core/src/main/java/org/instancio/internal/context/AssignmentSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/BooleanSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/GeneratorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContextHelper.java
  instancio-core/src/main/java/org/instancio/internal/context/OnCompleteCallbackSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/context/SubtypeSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/TargetSelectorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/nodes/InternalNode.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PrimitiveAndWrapperSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/ScopeImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorGroupImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/util/ObjectUtils.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/SelectTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/SelectorMapTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/PrimitiveAndWrapperSelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorGroupImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/asserts/SelectorAssert.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/fixtures/Nodes.java
Labels: component: core

#651 Bug fix: assignment generator not passing on subtype information
  instancio-core/src/main/java/org/instancio/internal/context/AssignmentSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/GeneratorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/context/SubtypeSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/handlers/AssignmentNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/UserSuppliedGeneratorHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/UserSuppliedGeneratorProcessor.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignValueOfTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/array/ArrayGeneratorSubtypeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/fixtures/Nodes.java
Labels: type: bug, component: core

#652 Added `verbose()` method for troubleshooting
  instancio-core/src/main/java/org/instancio/InstancioApi.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/InternalModelDump.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeStats.java
  instancio-core/src/main/java/org/instancio/internal/settings/InternalSettings.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/InstancioApiTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/InternalModelDumpTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/NodeStatsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/settings/SettingsTest.java
Labels: type: enhancement, component: core

#653 Minor error handling improvements
  instancio-core/src/main/java/org/instancio/internal/CallbackHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/AssignmentNodeHandler.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignPredicateThrowsRuntimeExceptionTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/oncomplete/OnCompleteTest.java
Labels: component: core

#654 Refactor/cleanup node handlers
  instancio-core/src/main/java/org/instancio/internal/GeneratorFacade.java
  instancio-core/src/main/java/org/instancio/internal/handlers/ArrayNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/CollectionNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/MapNodeHandler.java
Labels: component: core

#657 Support for scopes when using `atDepth()` with regular selectors
  instancio-core/src/main/java/org/instancio/DepthSelector.java
  instancio-core/src/main/java/org/instancio/ScopeableSelector.java
  instancio-core/src/main/java/org/instancio/Selector.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContextHelper.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PrimitiveAndWrapperSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/ScopeImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/util/Format.java
  instancio-tests/api-contract-tests/src/main/non-build/NonCompilable_SelectorAtDepthCannotBeCalledMoreThanOnce.java
  instancio-tests/api-contract-tests/src/test/java/org/instancio/test/contract/SelectorApiContractTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/DepthSelectorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/ScopeImplTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/cyclic/onetomany/DetailRecord.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/SelectorDepthRecordTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#658 Convenience method for creating a Scope from a method reference
  instancio-core/src/main/java/org/instancio/Select.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/scope/ScopeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/SelectTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#659 Refactor ignored node to retain its type/field
  instancio-core/src/main/java/org/instancio/internal/GeneratorFacade.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/NodeFilter.java
  instancio-core/src/main/java/org/instancio/internal/nodes/InternalNode.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeCreator.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeFactory.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeStats.java
  instancio-core/src/main/java/org/instancio/internal/nodes/OriginSelectorValidator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/FieldNodePopulationFilterTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/InternalNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/NodeStatsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/fixtures/Nodes.java
Labels: component: core

#660 Removed a conditional branch that never executed.
  instancio-core/src/main/java/org/instancio/internal/GeneratorFacade.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/InstancioApiTest.java
Labels: component: core

#664 Support for setting back-references to the `root()`
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/internal/GeneratorFacade.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/nodes/InternalNode.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeCreator.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeFactory.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeStats.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignBackReferenceTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignCyclicClassTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assign/AssignUnsupportedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cyclic/OneToManyWithCrossReferencesTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitGeneratorCyclicPojoTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/scope/ScopeWithCyclicIObjectTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/DepthSelectorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/cyclic/ClassesABCWithCrossReferencesCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/cyclic/IndirectCircularRefCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/cyclic/onetomany/DetailPojoCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/cyclic/onetomany/MainPojoCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/InternalNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/NodeStatsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/BidirectionalOneToOneNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/nodes/ClassesABCWithCrossReferencesNodeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/asserts/NodeAssert.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/cyclic/onetomany/DetailPojo.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/cyclic/onetomany/MainPojo.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/cyclic/onetomany/MainPojoContainer.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/CyclicRecordTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/EmitGeneratorCyclicRecordTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/assign/AssignBackReferenceRecordTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/assign/AssignUnsupportedRecordsTest.java
Labels: type: enhancement, component: core

#666 Propagate error thrown by custom generator or supplier
  instancio-core/src/main/java/org/instancio/internal/handlers/UserSuppliedGeneratorHandler.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/supply/SupplyThrowsExceptionTest.java
Labels: component: core

#670 Improved error handling of invalid subtype provided by a generator
  instancio-core/src/main/java/org/instancio/internal/context/Subtype.java
  instancio-core/src/main/java/org/instancio/internal/context/SubtypeSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeContext.java
  instancio-core/src/main/java/org/instancio/internal/nodes/NodeCreator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/oneof/OneOfArrayGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/ModelContextTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/SubtypeTest.java
Labels: component: core

#672 518: Generator for OptionalDouble
  instancio-core/src/main/java/org/instancio/internal/generator/util/OptionalDoubleGenerator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/OptionalDoubleGeneratorTest.java
Labels: type: enhancement, component: core
