Repository instancio/instancio, pull requests merged in 2023-08, with the labels that each got.

#701 Bump checkstyle from 10.12.1 to 10.12.2 and fix new violations
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/HibernateBeanValidationHandlerResolver.java
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/JakartaBeanValidationHandlerResolver.java
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/JavaxBeanValidationHandlerResolver.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/generator/lang/StringGenerator.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/ReflectionFactoryInstantiationStrategy.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/UnsafeHelper.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/UnsafeInstantiationStrategy.java
  instancio-core/src/main/java/org/instancio/internal/settings/InternalSettings.java
  pom.xml
Labels: type: build

#703 Added support for Polish identifier generators
  instancio-core/src/main/java/org/instancio/generator/specs/NipGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/NipSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/PeselGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/PeselSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/RegonGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/RegonSpec.java
  instancio-core/src/main/java/org/instancio/generators/IdGenerators.java
  instancio-core/src/main/java/org/instancio/generators/IdSpecs.java
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/HibernateBeanValidationProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generator/checksum/BaseModCheckGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/NipGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/PeselDateGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/PeselGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/RegonGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/WeightsModCheckGenerator.java
  instancio-core/src/main/java/org/instancio/internal/util/NumberUtils.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/NipBV.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/PeselBV.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/RegonBV.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/NipBVTest.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/PeselBVTest.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/RegonBVTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/NipGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/PeselGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/RegonGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/NipSpecTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/PeselSpecTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/RegonSpecTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/NipGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/PeselDateGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/PeselGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/RegonGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/NumberUtilsTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/conditions/Conditions.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#706 Big fix: generate null for unsupported types
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolverMaps.java
  instancio-core/src/main/java/org/instancio/internal/generator/misc/NullGenerator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/basic/UnsupportedJdkTypesCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/misc/NullGeneratorTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/basic/UnsupportedJdkTypes.java
Labels: type: bug, component: core

#709 Another round of error message improvements (#705)
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/ImpossibleCollectionSizeErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/ImpossibleMapSizeErrorMessageTest.java
Labels: component: core

#710 Moved ID generators for Poland to a country-specific package 'pol'
  instancio-core/src/main/java/org/instancio/generators/IdGenerators.java
  instancio-core/src/main/java/org/instancio/generators/IdSpecs.java
  instancio-core/src/main/java/org/instancio/generators/pol/PolIdGenerators.java
  instancio-core/src/main/java/org/instancio/generators/pol/PolIdSpecs.java
  instancio-core/src/main/java/org/instancio/generators/pol/package-info.java
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/HibernateBeanValidationProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/NipGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/PeselDateGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/PeselGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/RegonGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/WeightsModCheckGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/pol/package-info.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/RegonBVTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/pol/NipGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/pol/PeselGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/pol/RegonGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/pol/NipSpecTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/pol/PeselSpecTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/pol/RegonSpecTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/pol/NipGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/pol/PeselDateGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/pol/PeselGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/pol/RegonGeneratorTest.java
Labels: component: core

#713 Updated type parameter validation error message
  instancio-core/src/main/java/org/instancio/internal/ApiValidatorMessageHelper.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/WithTypeParametersNestedGenericsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/WithTypeParametersOneRequiredZeroProvidedTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/WithTypeParametersTwoRequiredThreeProvidedTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/WithTypeParametersTwoRequiredZeroProvidedTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/WithTypeParametersUnnecessaryTypeParametersTest.java
Labels: component: core

#716 US Social Security Number (SSN) generator spec
  instancio-core/src/main/java/org/instancio/generator/specs/usa/SsnGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/usa/SsnSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/usa/package-info.java
  instancio-core/src/main/java/org/instancio/generators/IdGenerators.java
  instancio-core/src/main/java/org/instancio/generators/IdSpecs.java
  instancio-core/src/main/java/org/instancio/generators/usa/UsaIdGenerators.java
  instancio-core/src/main/java/org/instancio/generators/usa/UsaIdSpecs.java
  instancio-core/src/main/java/org/instancio/generators/usa/package-info.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/usa/SsnGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/id/usa/package-info.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/LuhnCheckAndLengthBVTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/id/usa/SsnGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/validation/GeneratorMismatchTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/id/usa/SsnSpecTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/usa/SsnGeneratorTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#720 Bug fix: `oneOf(Collection)` error when a choice is null (#719)
  instancio-core/src/main/java/org/instancio/support/DefaultRandom.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/support/DefaultRandomTest.java
Labels: type: bug, component: core

#721 Support for `nullable()` with `oneOf()` generator specs (#719)
  instancio-core/src/main/java/org/instancio/Gen.java
  instancio-core/src/main/java/org/instancio/generator/specs/NullableGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfArrayGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfArraySpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfCollectionGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfCollectionSpec.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-tests/arch-tests/pom.xml
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/TerminalGeneratorSpecMethodsTest.java
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/TerminalSelectorMethodsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/oneof/OneOfArrayGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/oneof/OneOfCollectionGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/array/OneOfArraySpecTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/collection/OneOfCollectionSpecTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/asserts/ClassAssert.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/asserts/MethodsAssert.java
Labels: type: enhancement, component: core

#723 Minor refactoring: remove redundant extension of an interface
  instancio-core/src/main/java/org/instancio/generator/specs/BooleanGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/LuhnGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/Mod10GeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/Mod11GeneratorSpec.java
Labels: component: core

#724 Updated OSGi bundle config
  instancio-core/pom.xml
  instancio-tests/packaging-tests/src/test/java/org/instancio/test/packaging/ManifestFileTest.java
Labels: type: build, component: core

#725 Expose UUID generator via `Gen.uuid()`
  instancio-core/src/main/java/org/instancio/Gen.java
  instancio-core/src/main/java/org/instancio/generator/specs/UUIDSpec.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/UUIDGenerator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/util/UUIDGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/util/UUIDSpecTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/UUIDGeneratorTest.java
Labels: type: enhancement, component: core

#726 Add support for `nullable()` to certain generator specs
  instancio-core/src/main/java/org/instancio/generator/specs/DurationGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/DurationSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/EnumGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/URIGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/URLGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/UUIDStringGeneratorSpec.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/enumof/EnumGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/net/URIGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/net/URLGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/text/UUIDStringGeneratorTest.java
Labels: type: enhancement, component: core

#728 Expand error message with another reason why it can't populate a map.
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/ImpossibleMapSizeErrorMessageTest.java
Labels: component: core

#729 Updated subtype-related documentation and error messages
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/collection/CollectionGeneratorSizeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/map/MapGeneratorSizeTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/ImpossibleCollectionSizeErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/ImpossibleMapSizeErrorMessageTest.java
  website/docs/user-guide.md
Labels: component: core

#732 Improved `emit()` generator error message
  instancio-core/src/main/java/org/instancio/internal/handlers/EmitGeneratorHelper.java
  instancio-core/src/main/java/org/instancio/internal/handlers/UserSuppliedGeneratorProcessor.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitGeneratorWhenEmptyTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/EmitGeneratorNoItemsLeftToEmitErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/EmitGeneratorNoItemsLeftToEmitWithDifferentFieldsErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/EmitGeneratorNoItemsSpecifiedErrorMessageTest.java
Labels: component: core

#735 SPI for resolving setter methods from fields
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerImpl.java
  instancio-core/src/main/java/org/instancio/internal/assigners/DefaultSetterMethodResolver.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodAssigner.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodNameResolver.java
  instancio-core/src/main/java/org/instancio/internal/assigners/SetterMethodNameNoPrefixResolver.java
  instancio-core/src/main/java/org/instancio/internal/spi/Providers.java
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-core/src/main/java/org/instancio/spi/InstancioServiceProvider.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/MethodAssignerOnSetMethodNotFoundTest.java
  instancio-tests/spi-tests/src/test/java/org/example/spi/CustomSetterMethodResolver.java
  instancio-tests/spi-tests/src/test/java/org/instancio/spi/tests/SetterMethodResolverSpiTest.java
  instancio-tests/spi-tests/src/test/resources/META-INF/services/org.instancio.spi.InstancioServiceProvider
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#737 Throw an exception if root is abstract and no subtype is provided
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/AbstractRootTypeWithoutSubtypeErrorMessageTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core
