Repository instancio/instancio, pull requests merged in 2023-04, with the labels that each got.

#537 Add maven wrapper
  .gitignore
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: type: build

#539 Disable gradle daemon
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradle.properties
Labels: type: build

#542 Support for generating numeric sequences
  instancio-core/src/main/java/org/instancio/Gen.java
  instancio-core/src/main/java/org/instancio/generator/specs/NumericSequenceAsGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/NumericSequenceGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/NumericSequenceSpec.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/internal/generator/sequence/AbstractNumericSequenceGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/sequence/IntegerSequenceGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/sequence/LongSequenceGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/sequence/package-info.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/validation/GeneratorMismatchTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/sequence/AbstractNumericSequenceSpecTestTemplate.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/sequence/NumericSequenceSpecTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/AbstractGeneratorTestTemplate.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/sequence/AbstractNumericSequenceGeneratorTestTemplate.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/sequence/NumericSequenceGeneratorTest.java
Labels: type: enhancement, component: core

#545 Cleanup/tests
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/sequence/NumericSequenceGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/finance/CreditCardNumberGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/hash/HashGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/EanGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/id/IsbnGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/internet/EmailGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/domain/internet/Ip4GeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/lang/BooleanGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/lang/CharacterGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/lang/ClassGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/lang/StringGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/net/InetAddressGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/sql/SqlDateGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/sql/TimestampGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/text/LoremIpsumGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/text/LuhnGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/text/TextPatternGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/text/UUIDStringGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/CalendarGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/DateGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/LocaleGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/xml/XMLGregorianCalendarGeneratorTest.java
  instancio-tests/spi-tests/src/test/java/org/example/spi/CustomGeneratorProvider.java
  instancio-tests/spi-tests/src/test/java/org/instancio/spi/tests/GeneratorFromSpiTest.java
Labels: type: tests

#546 TimeZone generator from #526 (with thanks to @Mobe91)
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolverMaps.java
  instancio-core/src/main/java/org/instancio/internal/generator/time/TimeZoneGenerator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/basic/SupportedTemporalTypesCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/TimeZoneGeneratorTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/basic/SupportedTemporalTypes.java
Labels: type: enhancement, component: core

#549 Updated `emit()` spec to accept `Iterable`
  instancio-core/src/main/java/org/instancio/generator/specs/EmitGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/internal/generator/misc/EmitGenerator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/misc/EmitGeneratorTest.java
Labels: type: enhancement, component: core

#553 Size generator spec + container SPI refactor
  instancio-core/src/main/java/org/instancio/generator/specs/CollectionGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/MapGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/SizeGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/internal/ContainerFactoriesHandler.java
  instancio-core/src/main/java/org/instancio/internal/context/InternalContainerFactoryProviderImpl.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/nodes/resolvers/NodeKindContainerResolver.java
  instancio-core/src/main/java/org/instancio/internal/spi/InternalContainerFactoryProvider.java
  instancio-core/src/main/java/org/instancio/internal/spi/InternalServiceProviderContext.java
  instancio-core/src/main/java/org/instancio/spi/ServiceProviderContext.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/spi/FeatureTestsContainerFactoryProvider.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/spi/ProvidersTest.java
  instancio-tests/spi-tests/src/test/java/org/example/spi/CustomGeneratorProvider.java
Labels: component: core

#552 `Settings` should accept values that are subtypes of `SettingKey.type()`
  instancio-core/src/main/java/org/instancio/internal/ApiValidator.java
  instancio-core/src/main/java/org/instancio/internal/settings/InternalSettings.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/settings/SettingsTest.java
Labels: component: core

#554 Support for Guava (#525)
  instancio-guava/pom.xml
  instancio-guava/src/main/java/org/instancio/guava/GenGuava.java
  instancio-guava/src/main/java/org/instancio/guava/generator/specs/MultimapGeneratorSpec.java
  instancio-guava/src/main/java/org/instancio/guava/generator/specs/TableGeneratorSpec.java
  instancio-guava/src/main/java/org/instancio/guava/generator/specs/package-info.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/GuavaArrayListMultimapGenerator.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/GuavaHashBasedTableGenerator.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/GuavaHostAndPortGenerator.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/GuavaInternetDomainNameGenerator.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/GuavaRangeGenerator.java
  instancio-guava/src/main/java/org/instancio/guava/internal/generator/package-info.java
  instancio-guava/src/main/java/org/instancio/guava/internal/package-info.java
  instancio-guava/src/main/java/org/instancio/guava/internal/spi/GuavaContainerFactory.java
  instancio-guava/src/main/java/org/instancio/guava/internal/spi/GuavaProvider.java
  instancio-guava/src/main/java/org/instancio/guava/internal/spi/package-info.java
  instancio-guava/src/main/java/org/instancio/guava/internal/util/GuavaFunctions.java
  instancio-guava/src/main/java/org/instancio/guava/internal/util/package-info.java
  instancio-guava/src/main/java/org/instancio/guava/package-info.java
  instancio-guava/src/main/resources/META-INF/services/org.instancio.internal.spi.InternalContainerFactoryProvider
  instancio-guava/src/main/resources/META-INF/services/org.instancio.spi.InstancioServiceProvider
  instancio-tests/instancio-guava-tests/pom.xml
  instancio-tests/instancio-guava-tests/src/main/java/org/instancio/test/pojo/guava/AllSupportedGuavaTypes.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/GuavaRepeatabilityTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaImmutableListTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaImmutableMapTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaMultimapTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaSupportedCollectionsTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaSupportedMapsTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaSupportedMultimapsTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaSupportedTablesTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/collect/GuavaTableTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/net/GuavaHostAndPortTest.java
  instancio-tests/instancio-guava-tests/src/test/java/org/instancio/test/guava/net/GuavaInternetDomainNameTest.java
  instancio-tests/pom.xml
  instancio-tests/report-aggregate/pom.xml
  pom.xml
Labels: type: enhancement, component: guava

#557 Exclude `byte-buddy` from `junit-platform-testkit`.
  instancio-tests/instancio-junit-tests/pom.xml
Labels: type: build

#559 Add generics capabilities to InstancioSource annotation
  instancio-junit/src/main/java/org/instancio/junit/internal/InstancioArgumentsProvider.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioSourceTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: junit

#561 Refactor predicate selector handling within selector map
  instancio-core/src/main/java/org/instancio/Select.java
  instancio-core/src/main/java/org/instancio/exception/UnusedSelectorException.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SortedSetWithReverseInsertionOrder.java
  instancio-core/src/main/java/org/instancio/internal/context/UnusedSelectorReporter.java
  instancio-core/src/main/java/org/instancio/internal/selectors/FieldSelectorBuilderImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorTargetKind.java
  instancio-core/src/main/java/org/instancio/internal/selectors/TypeSelectorBuilderImpl.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/support/UnusedSelectorsAssert.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/SortedSetWithReverseInsertionOrderTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/FieldSelectorBuilderImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/PredicateSelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/TypeSelectorBuilderImplTest.java
Labels: component: core

#564 Optional generator spec
  instancio-core/src/main/java/org/instancio/generator/specs/OptionalGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/OptionalGenerator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/util/OptionalGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/validation/GeneratorMismatchTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/CollectionGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/MapGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/OptionalGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/asserts/HintsAssert.java
Labels: type: enhancement, component: core

#565 Refactor Luhn generator
  instancio-core/src/main/java/org/instancio/internal/generator/domain/finance/CreditCardNumberGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/text/LuhnGenerator.java
  instancio-core/src/main/java/org/instancio/internal/util/LuhnUtils.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/LuhnCheckAndLengthBV.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/LuhnCheckBV.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/LuhnCheckAndLengthBVTest.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/LuhnCheckBVTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/LuhnUtilsTest.java
Labels: type: bug, component: core

#570 Fix typo in getting started page
  website/docs/getting-started.md
Labels: type: documentation

#572 Bug fix: support for Hibernate Validator 5 `@Email` annotation
  instancio-core/src/main/java/org/instancio/internal/beanvalidation/HibernateBeanValidationProcessor.java
  instancio-core/src/main/java/org/instancio/internal/util/ExceptionHandler.java
  instancio-tests/bean-validation-hibernate5-tests/src/test/java/org/instancio/test/beanvalidation/hibernate5/Hibernate5PojoBVTest.java
Labels: type: bug, component: core

#574 Bug fix: create a generic array via generator spec without explicit `subtype()`
  instancio-core/src/main/java/org/instancio/generator/specs/ArrayGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/internal/context/GeneratorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/generator/array/ArrayGenerator.java
  instancio-core/src/main/java/org/instancio/internal/handlers/UserSuppliedGeneratorHandler.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/array/ArrayGeneratorNullableTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/array/ArrayGeneratorSpecGenericArrayTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/array/ArrayGeneratorTest.java
Labels: type: bug, component: core

#576 Minor cleanup/tests
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/nodes/InternalNode.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/array/misc/ArrayAddressCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/array/misc/ThreeDimensionalArrayCreationTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/array/misc/TwoDimensionalArrayCreationTest.java
Labels: type: tests

#578 Text pattern generator - hex character tag
  instancio-core/src/main/java/org/instancio/internal/generator/text/TextPatternGenerator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/text/TextPatternGeneratorTest.java
Labels: type: enhancement, component: core

#579 Bug fix: error thrown when custom 2d array generator is supplied
  instancio-core/src/main/java/org/instancio/internal/ArrayElementNodePopulationFilter.java
  instancio-core/src/main/java/org/instancio/internal/FieldNodePopulationFilter.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/NodeFilter.java
  instancio-core/src/main/java/org/instancio/internal/NodePopulationFilter.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/array/CustomTwoDimensionalArrayGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/FieldNodePopulationFilterTest.java
Labels: type: bug, component: core

#581 Minor refactoring of assigners
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerImpl.java
  instancio-core/src/main/java/org/instancio/internal/assigners/FieldAssigner.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodAssigner.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/assigners/FieldAssignerTest.java
Labels: component: core

#589 Deprecate `instancio-processor` for removal in version `3.0.0`
  .gitignore
  instancio-core/src/main/java/org/instancio/InstancioMetamodel.java
  instancio-core/src/main/java/org/instancio/internal/selectors/MetamodelSelector.java
  instancio-processor/src/main/java/org/instancio/processor/InstancioAnnotationProcessor.java
  instancio-tests/annotation-processor-with-gradle/gradle-module/README.md
  instancio-tests/annotation-processor-with-gradle/gradle-module/build.gradle.template
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradle.properties
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradle/wrapper/gradle-wrapper.jar
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradle/wrapper/gradle-wrapper.properties
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradlew
  instancio-tests/annotation-processor-with-gradle/gradle-module/gradlew.bat
  instancio-tests/annotation-processor-with-gradle/gradle-module/settings.gradle
  instancio-tests/annotation-processor-with-gradle/gradle-module/src/main/java/org/instancio/test/gradle/ClassFromSameModule.java
  instancio-tests/annotation-processor-with-gradle/gradle-module/src/test/java/org/instancio/test/gradle/MetamodelWithGradleTest.java
  instancio-tests/annotation-processor-with-gradle/pom.xml
  instancio-tests/annotation-processor-with-lombok/pom.xml
  instancio-tests/annotation-processor-with-lombok/src/test/java/org/instancio/test/lombok/ProcessorWithLombokTest.java
  instancio-tests/annotation-processor-with-lombok/src/test/java/org/instancio/test/lombok/SamplePojo.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  instancio-tests/pom.xml
  website/mkdocs.yml
Labels: component: processor

#596 InstancioSource doesn't play nice with entities and dtos generation
  instancio-junit/src/main/java/org/instancio/junit/internal/InstancioArgumentsProvider.java
  instancio-tests/global-seed-tests/src/test/java/org/instancio/test/properties/GlobalSeedInstancioSourceTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioSourceTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioSourceWithSeedTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/internal/InstancioArgumentsProviderTest.java
Labels: type: bug, component: junit
