Repository instancio/instancio, pull requests merged in 2024-03, with the labels that each got.

#948 Seed reporting improvements (#940)
  instancio-core/src/main/java/org/instancio/internal/RandomHelper.java
  instancio-core/src/main/java/org/instancio/support/DefaultRandom.java
  instancio-core/src/main/java/org/instancio/support/Global.java
  instancio-core/src/main/java/org/instancio/support/Seeds.java
  instancio-junit/src/main/java/org/instancio/junit/InstancioExtension.java
  instancio-junit/src/main/java/org/instancio/junit/internal/ExtensionSupport.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/support/DefaultRandomTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioExtensionTest.java
  instancio-tests/instancio-junit-tests/src/test/java/org/instancio/junit/InstancioExtensionThreadLocalRandomTest.java
  instancio-tests/java16-tests/src/test/java/org/instancio/test/java16/assign/AssignAbcNestedRecordsTest.java
  website/docs/user-guide.md
Labels: type: enhancement, component: junit

#953 First pass at spatial generator without any customization options
  instancio-core/src/main/java/org/instancio/Gen.java
  instancio-core/src/main/java/org/instancio/generator/specs/CoordinateGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/CoordinateSpec.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/generators/SpatialGenerators.java
  instancio-core/src/main/java/org/instancio/generators/SpatialSpecs.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/spatial/CoordinateGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/domain/spatial/package-info.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/spatial/CoordinateGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/spatial/CoordinateSpecTest.java
Labels: type: enhancement, component: core

#943 New top-level API: `setModel(TargetSelector, Model)`
  instancio-core/src/main/java/org/instancio/CartesianProductApi.java
  instancio-core/src/main/java/org/instancio/InstancioApi.java
  instancio-core/src/main/java/org/instancio/InstancioOperations.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/CartesianProductApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/InternalModel.java
  instancio-core/src/main/java/org/instancio/internal/SetModelValidatingListener.java
  instancio-core/src/main/java/org/instancio/internal/context/AssignmentSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/BooleanSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/GeneratorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContextSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/OnCompleteCallbackSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/context/SetModelSelectorHelper.java
  instancio-core/src/main/java/org/instancio/internal/context/SubtypeSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/TargetSelectorSelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/UnusedSelectorReporter.java
  instancio-core/src/main/java/org/instancio/internal/selectors/InternalSelector.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorImpl.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/scope/ScopeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelAdhocTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelAssignTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelCartesianProductTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelIgnoreTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelLenientTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelNestedModelsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelOfListTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelOnCompleteTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelOverlappingModelsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelPrecedenceTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelPropertiesThatShouldNotBeCopedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelStatefulGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelSubtypeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelTypeTokenTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelWithNullableTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/setmodel/SetModelWithTypeParametersTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/SetModelIncompatibleSelectorTargetErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/TypeMismatchWithNestedCollectionTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/ApiContractTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/InternalModelTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/SelectorMapImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/context/SetModelSelectorHelperTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/nodes/NodeStatsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/PredicateSelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorImplTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/testsupport/fixtures/Nodes.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  instancio-tests/pom.xml
  website/docs/assets/setmodel-selector-scope.svg
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#961 Fix typo in user-guide.md
  website/docs/user-guide.md
Labels: type: documentation

#962 Use sonar-fork-analysis action
  .github/workflows/build.yml
  .github/workflows/sonar.yml
Labels: type: build

#965 Refactored internal classes related to generation
  instancio-core/src/main/java/org/instancio/internal/CallbackHandler.java
  instancio-core/src/main/java/org/instancio/internal/GeneratedNullValueListener.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/SetModelValidatingListener.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AbstractAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationConsumers.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationExtractor.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationGeneratorSpecProcessor.java
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationMap.java
  instancio-core/src/main/java/org/instancio/internal/annotation/CommonBeanValidationHandlerMap.java
  instancio-core/src/main/java/org/instancio/internal/annotation/HibernateBeanValidationAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/HibernateBeanValidationHandlerMap.java
  instancio-core/src/main/java/org/instancio/internal/annotation/JakartaBeanValidationAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/JakartaPersistenceAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/JavaxBeanValidationAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/JavaxPersistenceAnnotationConsumer.java
  instancio-core/src/main/java/org/instancio/internal/annotation/NoopGeneratorSpecProcessor.java
  instancio-core/src/main/java/org/instancio/internal/assigners/FieldAssigner.java
  instancio-core/src/main/java/org/instancio/internal/assigners/MethodAssigner.java
  instancio-core/src/main/java/org/instancio/internal/generation/AnnotationNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/AssignmentNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/EmitGeneratorHelper.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratedObjectStore.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratedPojoStore.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratedValuePostProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generation/GenerationListener.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratorFacade.java
  instancio-core/src/main/java/org/instancio/internal/generation/InstantiatingHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/NodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/SpiGeneratorNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/StringPrefixingPostProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generation/UserSuppliedGeneratorHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/UserSuppliedGeneratorProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generation/UsingGeneratorResolverHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/package-info.java
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolver.java
  instancio-core/src/main/java/org/instancio/internal/generator/SpiGeneratorResolver.java
  instancio-core/src/main/java/org/instancio/internal/generator/lang/StringGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/CollectionGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/MapGenerator.java
  instancio-core/src/main/java/org/instancio/internal/handlers/CollectionNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/UsingGeneratorResolverHandler.java
  instancio-core/src/main/java/org/instancio/internal/handlers/package-info.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/LeastArgumentsConstructorInstantiationStrategy.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/NoArgumentConstructorInstantiationStrategy.java
  instancio-core/src/main/java/org/instancio/internal/instantiation/UnsafeHelper.java
  instancio-core/src/main/java/org/instancio/internal/selectors/MethodRef.java
  instancio-core/src/main/java/org/instancio/internal/util/ReflectionUtils.java
  instancio-core/src/main/java/org/instancio/spi/InstancioSpiException.java
  instancio-core/src/main/java16/org/instancio/internal/util/RecordUtils.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/instantiation/LeastArgumentsConstructorInstantiationStrategyTest.java
  instancio-tests/jpa-jakarta-tests/src/test/java/org/instancio/test/jpa/BeanValidationDisabledJPATest.java
  instancio-tests/jpa-javax-tests/src/test/java/org/instancio/test/jpa/BeanValidationDisabledJPATest.java
Labels: component: core

#967 Perf: reuse `DatatypeFactory` when creating `XMLGregorianCalendar`
  instancio-core/src/main/java/org/instancio/internal/generator/xml/XMLGregorianCalendarGenerator.java
Labels: component: core, type: performance

#968 Perf: cache generators
  instancio-core/src/main/java/org/instancio/internal/generation/UserSuppliedGeneratorProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generation/UsingGeneratorResolverHandler.java
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResolver.java
  instancio-core/src/main/java/org/instancio/internal/generator/SpiGeneratorResolver.java
Labels: component: core, type: performance

#971 Perf: use no-op classes to avoid unnecessary work
  instancio-core/src/main/java/org/instancio/internal/CallbackHandler.java
  instancio-core/src/main/java/org/instancio/internal/GeneratedNullValueListener.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/SetModelValidatingListener.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMap.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMaps.java
  instancio-core/src/main/java/org/instancio/internal/generation/AssignmentNodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratedObjectStore.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratedPojoStore.java
  instancio-core/src/main/java/org/instancio/internal/generation/GenerationListener.java
  instancio-core/src/main/java/org/instancio/internal/generation/GeneratorFacade.java
  instancio-core/src/main/java/org/instancio/internal/generation/NodeHandler.java
  instancio-core/src/main/java/org/instancio/internal/generation/UserSuppliedGeneratorHandler.java
  instancio-core/src/main/java/org/instancio/internal/generator/GeneratorResult.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/CallbackHandlerTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/GeneratedNullValueListenerTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/SetModelValidatingListenerTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generation/AssignmentNodeHandlerTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generation/GeneratedObjectStoreTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generation/UserSuppliedGeneratorHandlerTest.java
Labels: component: core, type: performance

#973 Rerfactor/cleanup selector classes
  instancio-core/src/main/java/org/instancio/internal/selectors/InternalSelector.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorBuilderTemplate.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorGroupImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorProcessor.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SelectorGroupTest.java
Labels: component: core
