Repository instancio/instancio, pull requests merged in 2024-02, with the labels that each got.

#902 Bug fix: propagate Map/Collection generator errors conditionally (#900)
  instancio-core/src/main/java/org/instancio/internal/ErrorHandler.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/CollectionGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/MapGenerator.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/CollectionGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/util/MapGeneratorTest.java
Labels: type: bug, component: core

#906 `emit()` support for recycling items (#905)
  instancio-core/src/main/java/org/instancio/generator/specs/EmitGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/internal/generator/misc/EmitGenerator.java
  instancio-core/src/main/java/org/instancio/internal/handlers/EmitGeneratorHelper.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/misc/EmitGeneratorWhenEmptyTest.java
Labels: type: enhancement, component: core

#914 Support for `ElementType.TYPE_USE` bean validation annotations (#911)
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationExtractor.java
  instancio-core/src/main/java/org/instancio/internal/util/CollectionUtils.java
  instancio-tests/bean-validation-jakarta-tests/src/main/java/org/instancio/test/pojo/beanvalidation/CollectionBV.java
  instancio-tests/bean-validation-jakarta-tests/src/main/java/org/instancio/test/pojo/beanvalidation/MapBV.java
  instancio-tests/bean-validation-jakarta-tests/src/test/java/org/instancio/test/beanvalidation/CollectionBVTest.java
  instancio-tests/bean-validation-jakarta-tests/src/test/java/org/instancio/test/beanvalidation/MapBVTest.java
  instancio-tests/bean-validation-javax-tests/src/main/java/org/instancio/test/pojo/beanvalidation/CollectionBV.java
  instancio-tests/bean-validation-javax-tests/src/main/java/org/instancio/test/pojo/beanvalidation/MapBV.java
  instancio-tests/bean-validation-javax-tests/src/test/java/org/instancio/test/beanvalidation/CollectionBVTest.java
  instancio-tests/bean-validation-javax-tests/src/test/java/org/instancio/test/beanvalidation/MapBVTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/CollectionUtilsTest.java
Labels: type: enhancement, component: core

#917 Add convenience method for overriding a setting key.
  instancio-core/src/main/java/org/instancio/CartesianProductApi.java
  instancio-core/src/main/java/org/instancio/InstancioApi.java
  instancio-core/src/main/java/org/instancio/InstancioOperations.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/CartesianProductApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/context/ModelContext.java
  instancio-core/src/main/java/org/instancio/internal/settings/InternalSettings.java
  instancio-core/src/main/java/org/instancio/settings/Settings.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodErrorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/assignmenttype/OnSetMethodNotFoundTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/cartesianproduct/CartesianProductSettingsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/SetMethodSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/settings/WithSettingTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/ValueSpecWithGenerateAndSettingsSeedTest.java
  instancio-tests/spi-tests/src/test/java/org/instancio/spi/tests/SetterMethodResolverSpiTest.java
Labels: type: enhancement, component: core

#918 Bug fix: setting 'max' size setting to zero results in negative 'min' value
  instancio-core/src/main/java/org/instancio/internal/settings/InternalKey.java
  instancio-core/src/main/java/org/instancio/internal/settings/InternalSettings.java
  instancio-core/src/main/java/org/instancio/internal/settings/RangeAdjuster.java
  instancio-core/src/main/java/org/instancio/internal/util/NumberUtils.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/settings/SettingsTest.java
Labels: type: bug, component: core

#919 Bug fix: bean validation NPE when creating a collection
  instancio-core/src/main/java/org/instancio/internal/annotation/AnnotationExtractor.java
  instancio-tests/bean-validation-hibernate-tests/src/main/java/org/instancio/test/pojo/beanvalidation/person/PetBV.java
  instancio-tests/bean-validation-hibernate-tests/src/test/java/org/instancio/test/beanvalidation/PersonBVTest.java
Labels: type: bug, component: core

#923 Refactor `Result` from class to interface
  instancio-core/src/main/java/org/instancio/Result.java
  instancio-core/src/main/java/org/instancio/internal/ApiImpl.java
  instancio-core/src/main/java/org/instancio/internal/InternalResult.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/InternalResultTest.java
Labels: component: core

#921 Added JPMS module information
  build-tools/src/main/resources/checkstyle.xml
  instancio-core/instancio-library.marker
  instancio-core/pom.xml
  instancio-core/src/main/java/module-info.java
  instancio-core/src/main/java/org/instancio/spi/InstancioServiceProvider.java
  instancio-guava/instancio-library.marker
  instancio-guava/pom.xml
  instancio-guava/src/main/java/module-info.java
  instancio-junit/instancio-library.marker
  instancio-junit/pom.xml
  instancio-junit/src/main/java/module-info.java
  instancio-quickcheck/instancio-library.marker
  instancio-quickcheck/pom.xml
  instancio-quickcheck/src/main/java/module-info.java
  instancio-tests/arch-tests/pom.xml
  instancio-tests/arch-tests/src/test/java/module-info.java
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/ApiPackageTest.java
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/condition/UnconditionalModuleExportCondition.java
  instancio-tests/instancio-test-support/pom.xml
  instancio-tests/packaging-tests/src/test/java/org/instancio/test/packaging/ManifestFileTest.java
  pom.xml
Labels: type: enhancement, component: core, component: junit, component: guava, component: quickcheck

#928 Javadoc: add custom stylesheet
  build-tools/src/main/javadoc/hljs-theme.css
  build-tools/src/main/javadoc/instancio-theme.css
  pom.xml
Labels: type: build

#929 Convert `instancio-test-support` to a Java module
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/test/support/asserts/ReflectionAssertTest.java
  instancio-tests/instancio-test-support/instancio-library.marker
  instancio-tests/instancio-test-support/pom.xml
  instancio-tests/instancio-test-support/src/main/java/module-info.java
Labels: type: tests

#930 Move JPMS smoke tests from external repository to the main project (#925)
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/condition/UnconditionalModuleExportCondition.java
  instancio-tests/jpms-tests/jpms-bean-validation-hibernate-tests/pom.xml
  instancio-tests/jpms-tests/jpms-bean-validation-hibernate-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-bean-validation-hibernate-tests/src/test/java/org/instancio/tests/jpms/hibernate/JpmsHibernateBeanValidationTest.java
  instancio-tests/jpms-tests/jpms-bean-validation-jakarta-tests/pom.xml
  instancio-tests/jpms-tests/jpms-bean-validation-jakarta-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-bean-validation-jakarta-tests/src/test/java/org/instancio/tests/jpms/jakarta/JpmsJakartaBeanValidationTest.java
  instancio-tests/jpms-tests/jpms-guava-tests/pom.xml
  instancio-tests/jpms-tests/jpms-guava-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-guava-tests/src/test/java/org/instancio/tests/jpms/guava/JpmsGuavaTest.java
  instancio-tests/jpms-tests/jpms-quickcheck-tests/pom.xml
  instancio-tests/jpms-tests/jpms-quickcheck-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-quickcheck-tests/src/test/java/org/instancio/tests/jpms/quickcheck/QuickcheckTest.java
  instancio-tests/jpms-tests/jpms-spi-impl/pom.xml
  instancio-tests/jpms-tests/jpms-spi-impl/src/main/java/module-info.java
  instancio-tests/jpms-tests/jpms-spi-impl/src/main/java/org/instancio/tests/jpms/spi/impl/JpmsInstancioServiceProviderImpl.java
  instancio-tests/jpms-tests/jpms-spi-impl/src/main/resources/META-INF/services/org.instancio.spi.InstancioServiceProvider
  instancio-tests/jpms-tests/jpms-spi-tests/pom.xml
  instancio-tests/jpms-tests/jpms-spi-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-spi-tests/src/test/java/org/instancio/tests/jpms/spi/JpmsSpiTest.java
  instancio-tests/jpms-tests/jpms-standalone-tests/pom.xml
  instancio-tests/jpms-tests/jpms-standalone-tests/src/test/java/module-info.java
  instancio-tests/jpms-tests/jpms-standalone-tests/src/test/java/org/instancio/tests/jpms/standalone/JpmsStandaloneTest.java
  instancio-tests/jpms-tests/pom.xml
  instancio-tests/pom.xml
  instancio-tests/report-aggregate/pom.xml
Labels: type: tests

#932 Support for marking an individual selector as `lenient()`
  instancio-core/src/main/java/org/instancio/GroupableSelector.java
  instancio-core/src/main/java/org/instancio/LenientMode.java
  instancio-core/src/main/java/org/instancio/LenientSelector.java
  instancio-core/src/main/java/org/instancio/ScopeableSelector.java
  instancio-core/src/main/java/org/instancio/internal/context/SelectorMapImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/FieldSelectorBuilderImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorBuilderTemplate.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PrimitiveAndWrapperSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/TypeSelectorBuilderImpl.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/CustomPredicateNodeSelectorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/selector/LenientSelectorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/UnusedSelectorFullErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/ApiContractTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/selectors/SelectorImplTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  website/docs/user-guide.md
Labels: type: enhancement, component: core

#909 Selectors to have higher precedence than `Keys.OVERWRITE_EXISTING_VALUES`
  instancio-core/src/main/java/org/instancio/internal/ArrayElementNodePopulationFilter.java
  instancio-core/src/main/java/org/instancio/internal/FieldNodePopulationFilter.java
  instancio-core/src/main/java/org/instancio/internal/InstancioEngine.java
  instancio-core/src/main/java/org/instancio/internal/NodeFilter.java
  instancio-core/src/main/java/org/instancio/internal/NodePopulationFilter.java
  instancio-core/src/main/java/org/instancio/internal/assigners/AssignerImpl.java
  instancio-core/src/main/java/org/instancio/internal/util/ErrorMessageUtils.java
  instancio-core/src/main/java/org/instancio/internal/util/ExceptionUtils.java
  instancio-core/src/main/java/org/instancio/internal/util/ReflectionUtils.java
  instancio-core/src/main/java/org/instancio/settings/Keys.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/AfterGenerateAndOverwriteExistingValuesTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/AfterGenerateAndOverwriteExistingValuesWithCustomGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/AfterGenerateTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/CustomGeneratorUseCaseTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/CustomGeneratorWithInitialisedFieldsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/GeneratorAdhocTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/array/CustomArrayOfObjectsGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/array/CustomArrayOfPrimitivesGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateArrayTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateAssignTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateCollectionTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateHelper.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateIgnoreTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateMapTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateNestedObjectTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateStreamTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateSubtypeTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/custom/populate/PopulateWithNullableTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/settings/OverwriteExistingValuesTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/external/errorhandling/SubtypeMismatchDueToCustomGeneratorErrorMessageTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/util/ReflectionUtilsTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/test/support/conditions/ConditionsTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/asserts/ReflectionAssert.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/conditions/Conditions.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/initialised/Container.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/misc/StringsAbc.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/misc/StringsDef.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/misc/StringsGhi.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/util/Constants.java
  instancio-tests/instancio-test-support/src/test/README.md
  instancio-tests/java17-tests/pom.xml
  instancio-tests/java17-tests/src/test/java/org/instancio/test/java17/generator/CustomerGeneratorRecordTest.java
  instancio-tests/java17-tests/src/test/java/org/instancio/test/java17/generator/CustomerGeneratorRecordWithNullFieldTest.java
  website/docs/user-guide.md
Labels: component: core

#937 Tests for `java.util.concurrent.locks.*`
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/creation/basic/SupportedConcurrentLocksCreationTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/pojo/basic/SupportedConcurrentLocksTypes.java
Labels: type: tests

#938 Predicate selector builder minor refactoring
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorBuilderTemplate.java
  instancio-core/src/main/java/org/instancio/internal/selectors/PredicateSelectorImpl.java
  instancio-core/src/main/java/org/instancio/internal/selectors/SelectorProcessor.java
Labels: component: core

#942 Additional seed tests + user guide update (#940)
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/seed/InstancioSeedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/seed/ValueSpecUsedAsGeneratorSeedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/seed/ValueSpecUsedStandaloneSeedTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/seed/WithSeedAnnotationTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/seed/WithoutSeedAnnotationTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/values/ValueSpecWithGenerateAndSettingsSeedTest.java
  instancio-tests/instancio-test-support/src/main/java/org/instancio/test/support/tags/Feature.java
  website/docs/user-guide.md
  website/mkdocs.yml
Labels: type: documentation, type: tests
