Repository instancio/instancio, pull requests merged in 2025-02, with the labels that each got.

#1288 Support for generating random values using `oneOf().orRandom()`
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfArrayGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfArraySpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfCollectionGeneratorSpec.java
  instancio-core/src/main/java/org/instancio/generator/specs/OneOfCollectionSpec.java
  instancio-core/src/main/java/org/instancio/generators/CommonGeneratorSpecs.java
  instancio-core/src/main/java/org/instancio/generators/Generators.java
  instancio-core/src/main/java/org/instancio/generators/ValueSpecs.java
  instancio-core/src/main/java/org/instancio/internal/generation/UserSuppliedGeneratorProcessor.java
  instancio-core/src/main/java/org/instancio/internal/generator/InternalGeneratorHint.java
  instancio-core/src/main/java/org/instancio/internal/generator/array/OneOfArrayGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generator/util/OneOfCollectionGenerator.java
  instancio-core/src/main/java/org/instancio/internal/generators/BuiltInGenerators.java
  instancio-tests/arch-tests/src/test/java/org/instancio/test/contract/TerminalGeneratorSpecMethodsTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/oneof/OneOfArrayGeneratorTest.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/oneof/OneOfCollectionGeneratorTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/api/ApiContractTest.java
  instancio-tests/instancio-core-tests/src/test/java/org/instancio/internal/generator/InternalGeneratorHintTest.java
Labels: type: enhancement, component: core

#1289 Add groovy test
  instancio-tests/groovy-tests/src/test/groovy/org/instancio/test/groovy/GroovySelectorTest.groovy
Labels: type: tests, type: refactor

#1301 Revert "Bump version.jooq from 3.19.18 to 3.20.0"
  instancio-tests/instancio-jooq-tests/pom.xml
Labels: dependencies

#1304 It allows the generated number to be very close to or even equal to the limits configured for the interval
  instancio-core/src/main/java/org/instancio/internal/generator/math/BigDecimalGenerator.java
  instancio-tests/feature-tests/src/test/java/org/instancio/test/features/generator/math/BigDecimalGeneratorTest.java
  instancio-tests/jpa-jakarta-tests/src/test/java/org/instancio/test/jpa/ColumnScaleAndPrecisionJPATest.java
  instancio-tests/jpa-javax-tests/src/test/java/org/instancio/test/jpa/ColumnScaleAndPrecisionJPATest.java
Labels: type: bug, component: core
